html
  head
    title opensky
    link(href="styles.css" rel="stylesheet")
  body
    p opensky aircraft landing and leaving
    a(href="https://opensky-network.org") opensky-network.org
    
    p=date
    
    p ARRIVALS
    pre=arrivals
    
    p DEPARTURES
    pre=departures
    
    canvas(id="canvas" width="600" height="200")
    script(src="client.js")
    
    //include the Glitch button to show what the webpage is about
    div(class="glitchButton", style="position:fixed;top:20px;right:20px;")
    script(src="https://button.glitch.me/button.js")
    